<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Input</servlet-name>
        <servlet-class>de.i3mainz.knowledgebase.Input</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterData</servlet-name>
        <servlet-class>de.i3mainz.knowledgebase.FilterData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Hint</servlet-name>
        <servlet-class>de.i3mainz.knowledgebase.Hint</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Modify</servlet-name>
        <servlet-class>de.i3mainz.knowledgebase.Modify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>de.i3mainz.knowledgebase.Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getRDF</servlet-name>
        <servlet-class>de.i3mainz.knowledgebase.getRDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sparql</servlet-name>
        <servlet-class>de.i3mainz.knowledgebase.sparql</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Calc</servlet-name>
        <servlet-class>de.i3mainz.knowledgebase.Calc</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>InputTSV</servlet-name>
        <servlet-class>de.i3mainz.knowledgebase.InputTSV</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Input</servlet-name>
        <url-pattern>/Input</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterData</servlet-name>
        <url-pattern>/FilterData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Hint</servlet-name>
        <url-pattern>/Hint</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Modify</servlet-name>
        <url-pattern>/Modify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getRDF</servlet-name>
        <url-pattern>/getRDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sparql</servlet-name>
        <url-pattern>/sparql</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Calc</servlet-name>
        <url-pattern>/Calc</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>InputTSV</servlet-name>
        <url-pattern>/InputTSV</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
